#texto{
    margin-top: -30px;
    color: white;
    text-align: right;
    max-width: 1250px;
    padding: 10px;
    }
.text{
    color: red;
}
.top {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}
#divBusca{
    background-color:white;
    border:solid 2px black;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
}
#btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:100px;
    font-weight:bold;
    background:#5F9EA0;
} 
  #divBusca img{
    float:left;
}
.table {
    display: grid;
    align-items: center;
    margin-inline: 480px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 50px;
    gap: 10px 10px;
    grid-template-areas:
      "logo search";
  }
  
  .logo { grid-area: logo; }
  
  .search { grid-area: search; }
  
#menu ul{
    padding: 10px;
    margin: 10px 80px 10px 80px; 
    background-color:red; 
    text-align: center;
}
#menu ul li{
    display: inline;
}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;     
    color: white;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color:black;
    color: whitesmoke;
    border-bottom:3px solid #EA0000;
}
.grid{
    display: flex;
   
}

.lateral-menu{
    padding: 10px 70px;
}
#lateral{
    padding-left: 4px;
}
#lateral ul{
    
    padding: 101px 80px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 0px;
    background-color:grey; 
    text-align: left;
}
#lateral ul li a {
    padding: 20px 1px 20px 1px;
    display: inline-block;     
    color: white;
    text-decoration: none;
}
.conteudo-home{
    width: 30cm;
    text-align: justify;
    margin: auto;
    padding: 20px;

}
.fix{
    width: 30cm;
}
.text-conteudo{
    display: block;
}
.low-1{
    display: block;
    margin: auto;
    width: 40cm;
}
.filter{
    
    margin: 5%;
    margin-top: 0;
    border: solid 1px;
    width: 250px;
}
.filtro-catg{
    color: red;
}
.card{
    position: relative;
    display:inline-table;
    align-items: center;
    min-width: 0;
    background-color: gray;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    justify-content: space-around;
}
.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    color: #EA0000;
}
.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s;
}
.btn-primary{
    display: block;
    text-align: center;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.grid-container {
    display: grid;
    margin: 40px 20px 20px 180px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto;
    gap: 10px 10px;
    grid-template-areas:
      "filtro product-01 product-02 product-03";
  }
  
  .filter { grid-area: filtro }
  
  .product-01 { grid-area: product-01; }
  
  .product-02 { grid-area: product-02; }
  
  .product-03 { grid-area: product-03; }

.product-01{
    border: 1px solid chocolate;
    margin: auto;
}
.product-02{
    border: 1px solid chocolate;
    margin: auto;
}
.product-03{
    border: 1px solid chocolate;
    margin: auto;
}
.contato{
    text-align: center;
}
/*
Faltou @media only screen nas classes para 
tornar responsivo
*/